In [0]:
flight_df = spark.read.format("csv")\
                .option("header","True")\
                .option("inferschema","True")\
                .option("mode","FAILFAST")\
                .load("/FileStore/tables/2010_summary.csv")
flight_df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_df.printSchema

Out[7]: <bound method DataFrame.printSchema of DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: int]>

In [0]:
data = [
    ("James", "", "Smith", "1980-05-12", "M", 60000),
    ("Emma", "Sophia", "Johnson", "1992-08-25", "F", 75000),
    ("Michael", "", "Williams", "1975-11-03", "M", 90000),
    ("Olivia", "Grace", "Jones", "1988-03-17", "F", 80000),
    ("William", "", "Brown", "1983-09-30", "M", 70000)
]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]

df = spark.createDataFrame(data = data,schema = columns)

In [0]:
df.show()

+----------+-----------+---------+----------+------+------+
|first_name|middle_name|last_name|       dob|gender|salary|
+----------+-----------+---------+----------+------+------+
|     James|           |    Smith|1980-05-12|     M| 60000|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|
|   Michael|           | Williams|1975-11-03|     M| 90000|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|
|   William|           |    Brown|1983-09-30|     M| 70000|
+----------+-----------+---------+----------+------+------+

In [0]:
df_employee = spark.read.format("csv")\
    .option("inferschema","True")\
        .option("mode","Failfast")\
            .option("header","True")\
                .load("/FileStore/tables/2010_summary.csv")

In [0]:
df_employee.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
df.printSchema

Out[6]: <bound method DataFrame.printSchema of DataFrame[first_name: string, middle_name: string, last_name: string, dob: string, gender: string, salary: bigint]>

In [0]:
df_employee.write.format("csv").save("/FileStore/tables/employee_data1.csv")

In [0]:
df_employee.write.format("parquet").save("/FileStore/tables/2010_summary.parquet")

In [0]:
display(df_employee)

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,1
United States,Ireland,264
United States,India,69
Egypt,United States,24
Equatorial Guinea,United States,1
United States,Singapore,25
United States,Grenada,54
Costa Rica,United States,477
Senegal,United States,29
United States,Marshall Islands,44
Guyana,United States,17
United States,Sint Maarten,53
Malta,United States,1
Bolivia,United States,46
Anguilla,United States,21
Turks and Caicos Islands,United States,136
United States,Afghanistan,2
Saint Vincent and the Grenadines,United States,1
Italy,United States,390
United States,Russia,156
United States,Federated States of Micronesia,48
Pakistan,United States,9
United States,Netherlands,570
Iceland,United States,118
Marshall Islands,United States,77
Luxembourg,United States,91
Honduras,United States,391
The Bahamas,United States,903
El Salvador,United States,519
United States,Senegal,46
Samoa,United States,28
United States,Angola,18
Kazakhstan,United States,3
Switzerland,United States,315
United States,Anguilla,20
Sint Maarten,United States,61
Hong Kong,United States,252
Trinidad and Tobago,United States,187
Latvia,United States,12
United States,Ecuador,345
Slovakia,United States,1
Suriname,United States,12
Mexico,United States,6200
United States,Cyprus,1
Ecuador,United States,272
United States,Bosnia and Herzegovina,1
United States,Portugal,104
United States,Costa Rica,501
United States,Guatemala,333
United States,Suriname,13
Colombia,United States,785
United States,Cape Verde,18
United States,Jamaica,757
United States,Malaysia,3
Norway,United States,29
United States,Morocco,16
Thailand,United States,16
Venezuela,United States,377
United States,Palau,30
United States,Samoa,28
United States,Algeria,1
United States,Venezuela,341
Panama,United States,355
United States,Finland,20
United States,Chile,176
Morocco,United States,16
United States,Greece,61
Antigua and Barbuda,United States,123
Azerbaijan,United States,1
United States,The Bahamas,959
New Zealand,United States,86
Liberia,United States,1
United States,Hong Kong,293
Hungary,United States,14
United States,China,505
United States,Vietnam,1
Sweden,United States,65
United States,Kuwait,25
United States,Dominican Republic,1150
United States,Egypt,25
Israel,United States,117
United States,United States,348113
United States,Luxembourg,90
Ethiopia,United States,12
United States,Poland,61
Martinique,United States,23
Saint Barthelemy,United States,28
United States,Saint Barthelemy,29
United States,Turkey,87
Barbados,United States,130
United States,Estonia,1
United States,Azerbaijan,1
Germany,United States,1392
Kyrgyzstan,United States,2
United States,South Korea,621
United States,El Salvador,464
Ireland,United States,231
United States,Hungary,15
United States,Serbia,1
Malaysia,United States,1
United States,Panama,363
United States,Ethiopia,12
United States,Aruba,349
United States,Thailand,13
United States,Netherlands Antilles,289
United States,Turks and Caicos Islands,147
Cyprus,United States,2
United States,Pakistan,15
United States,Honduras,393
Qatar,United States,41
Fiji,United States,53
Saint Kitts and Nevis,United States,113
Taiwan,United States,275
Haiti,United States,238
Kuwait,United States,26
Canada,United States,8271
Federated States of Micronesia,United States,46
United States,Liberia,1
Jamaica,United States,733
United States,Malta,2
Dominican Republic,United States,1109
Japan,United States,1383
United States,Saint Vincent and the Grenadines,16
United States,Guadeloupe,33
Finland,United States,24
United States,Ukraine,17
United States,France,776
United States,Norway,36
Aruba,United States,359
French Guiana,United States,4
United States,Kiribati,18
India,United States,66
British Virgin Islands,United States,49
United States,Germany,1406
Brazil,United States,995
United States,New Zealand,71
French Polynesia,United States,38
United Arab Emirates,United States,165
Singapore,United States,25
United States,Mexico,6220
Netherlands,United States,586
United States,Sweden,73
United States,Gabon,1
United States,Martinique,20
United States,United Arab Emirates,156
United States,Bulgaria,2
China,United States,448
Denmark,United States,98
United States,Philippines,116
United States,Nicaragua,181
United States,Belgium,355
Peru,United States,212
Argentina,United States,184
Cayman Islands,United States,247
South Africa,United States,25
United States,Iceland,129
United States,Argentina,159
Spain,United States,422
Netherlands Antilles,United States,286
Bermuda,United States,183
United States,Austria,34
United States,Nigeria,18
United States,"Bonaire, Sint Eustatius, and Saba",16
Kiribati,United States,17
Saudi Arabia,United States,42
Czech Republic,United States,21
Belgium,United States,408
United States,Israel,122
United States,Bahrain,1
United States,Saint Lucia,121
Afghanistan,United States,11
United States,British Virgin Islands,47
Curacao,United States,20
Georgia,United States,2
United States,Guyana,20
United States,Denmark,107
Philippines,United States,132
Grenada,United States,65
Cape Verde,United States,18
Ukraine,United States,19
United States,Papua New Guinea,1
United States,Saudi Arabia,54
Russia,United States,152
Guatemala,United States,386
Saint Lucia,United States,116
Paraguay,United States,90
United States,Curacao,14
United States,Taiwan,252
United States,South Africa,15
Turkey,United States,75
United Kingdom,United States,1629
United States,Greenland,2
United States,Spain,442
Cuba,United States,243
United States,Italy,433
United States,Switzerland,334
Dominica,United States,28
United States,Japan,1307
Portugal,United States,102
United States,Brazil,578
Bahrain,United States,30
United States,Peru,284
Vietnam,United States,1
United States,United Kingdom,1503
United States,Belize,118
Belize,United States,121
United States,Ghana,28
United States,Indonesia,1
United States,Fiji,51
United States,Canada,8305
United States,French Polynesia,38
United States,Antigua and Barbuda,121
United States,Burkina Faso,1
Nicaragua,United States,178
United States,Latvia,13
United States,Dominica,32
United States,Czech Republic,22
United States,Australia,216
Austria,United States,36
United States,Cook Islands,12
Jordan,United States,50
Palau,United States,31
Uganda,United States,2
United States,Cameroon,1
South Korea,United States,683
Angola,United States,14
Ghana,United States,27
Guadeloupe,United States,40
France,United States,774
United States,Kyrgyzstan,12
Poland,United States,62
Nigeria,United States,16
United States,Uruguay,24
Greenland,United States,2
Chile,United States,166
United States,Bermuda,180
United States,Cuba,235
United States,Colombia,832
United States,Qatar,40
United States,Barbados,119
Australia,United States,290
United States,Jordan,51
United States,Cayman Islands,251
United States,Trinidad and Tobago,200
United States,Bolivia,39
United States,Slovakia,1
Uruguay,United States,54
Cook Islands,United States,13
United States,Saint Kitts and Nevis,127
Bulgaria,United States,1
United States,French Guiana,1
United States,Haiti,226
United States,Uganda,1
"Bonaire, Sint Eustatius, and Saba",United States,16
Greece,United States,50

In [0]:
df_employee.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [0]:
df.show()

+----------+-----------+---------+----------+------+------+
|first_name|middle_name|last_name|       dob|gender|salary|
+----------+-----------+---------+----------+------+------+
|     James|           |    Smith|1980-05-12|     M| 60000|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|
|   Michael|           | Williams|1975-11-03|     M| 90000|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|
|   William|           |    Brown|1983-09-30|     M| 70000|
+----------+-----------+---------+----------+------+------+

In [0]:
df.withColumn("bonus",df.salary*0.2).show()

+----------+-----------+---------+----------+------+------+-------+
|first_name|middle_name|last_name|       dob|gender|salary|  bonus|
+----------+-----------+---------+----------+------+------+-------+
|     James|           |    Smith|1980-05-12|     M| 60000|12000.0|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|15000.0|
|   Michael|           | Williams|1975-11-03|     M| 90000|18000.0|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|16000.0|
|   William|           |    Brown|1983-09-30|     M| 70000|14000.0|
+----------+-----------+---------+----------+------+------+-------+

In [0]:
df_bonus = df.withColumn("bonus",df.salary*0.2).show()

+----------+-----------+---------+----------+------+------+-------+
|first_name|middle_name|last_name|       dob|gender|salary|  bonus|
+----------+-----------+---------+----------+------+------+-------+
|     James|           |    Smith|1980-05-12|     M| 60000|12000.0|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|15000.0|
|   Michael|           | Williams|1975-11-03|     M| 90000|18000.0|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|16000.0|
|   William|           |    Brown|1983-09-30|     M| 70000|14000.0|
+----------+-----------+---------+----------+------+------+-------+

In [0]:
df.filter(df.salary>35000).show()

+----------+-----------+---------+----------+------+------+
|first_name|middle_name|last_name|       dob|gender|salary|
+----------+-----------+---------+----------+------+------+
|     James|           |    Smith|1980-05-12|     M| 60000|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|
|   Michael|           | Williams|1975-11-03|     M| 90000|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|
|   William|           |    Brown|1983-09-30|     M| 70000|
+----------+-----------+---------+----------+------+------+

In [0]:
df.sort(df.salary).show()

+----------+-----------+---------+----------+------+------+
|first_name|middle_name|last_name|       dob|gender|salary|
+----------+-----------+---------+----------+------+------+
|     James|           |    Smith|1980-05-12|     M| 60000|
|   William|           |    Brown|1983-09-30|     M| 70000|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|
|   Michael|           | Williams|1975-11-03|     M| 90000|
+----------+-----------+---------+----------+------+------+

In [0]:
df.sort(df.salary.desc()).show()

+----------+-----------+---------+----------+------+------+
|first_name|middle_name|last_name|       dob|gender|salary|
+----------+-----------+---------+----------+------+------+
|   Michael|           | Williams|1975-11-03|     M| 90000|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|
|   William|           |    Brown|1983-09-30|     M| 70000|
|     James|           |    Smith|1980-05-12|     M| 60000|
+----------+-----------+---------+----------+------+------+

In [0]:
df.sort(df.salary.asc()).show()

+----------+-----------+---------+----------+------+------+
|first_name|middle_name|last_name|       dob|gender|salary|
+----------+-----------+---------+----------+------+------+
|     James|           |    Smith|1980-05-12|     M| 60000|
|   William|           |    Brown|1983-09-30|     M| 70000|
|      Emma|     Sophia|  Johnson|1992-08-25|     F| 75000|
|    Olivia|      Grace|    Jones|1988-03-17|     F| 80000|
|   Michael|           | Williams|1975-11-03|     M| 90000|
+----------+-----------+---------+----------+------+------+

In [0]:
df.select("first_name","gender","salary").show()

+----------+------+------+
|first_name|gender|salary|
+----------+------+------+
|     James|     M| 60000|
|      Emma|     F| 75000|
|   Michael|     M| 90000|
|    Olivia|     F| 80000|
|   William|     M| 70000|
+----------+------+------+

In [0]:
df.groupBy("gender").sum("salary").show()

+------+-----------+
|gender|sum(salary)|
+------+-----------+
|     M|     220000|
|     F|     155000|
+------+-----------+

In [0]:
df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|     M|    3|
|     F|    2|
+------+-----+

In [0]:
df.groupBy("gender").min("salary").show()

+------+-----------+
|gender|min(salary)|
+------+-----------+
|     M|      60000|
|     F|      75000|
+------+-----------+

In [0]:
df.groupBy("gender").avg("salary").show()

+------+-----------------+
|gender|      avg(salary)|
+------+-----------------+
|     M|73333.33333333333|
|     F|          77500.0|
+------+-----------------+

In [0]:
data_dept = [
    ("Alice", "Engineering", "CA", 80000, 34, 10000),
    ("Bob", "Marketing", "NY", 75000, 45, 8000),
    ("Charlie", "Finance", "TX", 90000, 27, 12000),
    ("David", "HR", "FL", 70000, 39, 7500),
    ("Emma", "Operations", "IL", 85000, 32, 11000),
    ("Frank", "IT", "WA", 95000, 41, 13000)
]
columns_dept = ["employee_name", "department", "state", "salary", "age", "bonus"]
deptdf = spark.createDataFrame(data = data_dept, schema = columns_dept)

deptdf.show()

+-------------+-----------+-----+------+---+-----+
|employee_name| department|state|salary|age|bonus|
+-------------+-----------+-----+------+---+-----+
|        Alice|Engineering|   CA| 80000| 34|10000|
|          Bob|  Marketing|   NY| 75000| 45| 8000|
|      Charlie|    Finance|   TX| 90000| 27|12000|
|        David|         HR|   FL| 70000| 39| 7500|
|         Emma| Operations|   IL| 85000| 32|11000|
|        Frank|         IT|   WA| 95000| 41|13000|
+-------------+-----------+-----+------+---+-----+

In [0]:
deptdf.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [0]:
data_dept_name = [
    ("Engineering", 1),
    ("Marketing", 2),
    ("Finance", 3),
    ("HR", 4),
    ("Operations", 5),
    ("IT", 6)
]
columns_1 = ["dept_name","id"]

dept_name = spark.createDataFrame(data = data_dept_name,schema = columns_1)

In [0]:
dept_name.show()

+-----------+---+
|  dept_name| id|
+-----------+---+
|Engineering|  1|
|  Marketing|  2|
|    Finance|  3|
|         HR|  4|
| Operations|  5|
|         IT|  6|
+-----------+---+

In [0]:

deptdf.show()

+-------------+-----------+-----+------+---+-----+
|employee_name| department|state|salary|age|bonus|
+-------------+-----------+-----+------+---+-----+
|        Alice|Engineering|   CA| 80000| 34|10000|
|          Bob|  Marketing|   NY| 75000| 45| 8000|
|      Charlie|    Finance|   TX| 90000| 27|12000|
|        David|         HR|   FL| 70000| 39| 7500|
|         Emma| Operations|   IL| 85000| 32|11000|
|        Frank|         IT|   WA| 95000| 41|13000|
+-------------+-----------+-----+------+---+-----+

In [0]:

deptdf.join(dept_name,deptdf.department ==dept_name.dept_name,"inner" ).show()

+-------------+-----------+-----+------+---+-----+-----------+---+
|employee_name| department|state|salary|age|bonus|  dept_name| id|
+-------------+-----------+-----+------+---+-----+-----------+---+
|        Alice|Engineering|   CA| 80000| 34|10000|Engineering|  1|
|      Charlie|    Finance|   TX| 90000| 27|12000|    Finance|  3|
|        David|         HR|   FL| 70000| 39| 7500|         HR|  4|
|        Frank|         IT|   WA| 95000| 41|13000|         IT|  6|
|          Bob|  Marketing|   NY| 75000| 45| 8000|  Marketing|  2|
|         Emma| Operations|   IL| 85000| 32|11000| Operations|  5|
+-------------+-----------+-----+------+---+-----+-----------+---+

In [0]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
    .appName("Learning Joins") \
    .getOrCreate()

# Sample data for employee DataFrame
employee_data = [
    (1, "Alice", 1001),
    (2, "Bob", 1002),
    (3, "Charlie", 1001),
    (4, "David", 1003),
    (5, "Emma", 1003)
]
employee_columns = ["emp_id", "emp_name", "dept_id"]
employee_df = spark.createDataFrame(employee_data, employee_columns)

# Sample data for department DataFrame
department_data = [
    (1001, "Engineering"),
    (1002, "Marketing"),
    (1003, "Finance"),
    (1004, "HR")
]
department_columns = ["dept_id", "dept_name"]
department_df = spark.createDataFrame(department_data, department_columns)

# Display the DataFrames
print("Employee DataFrame:")
employee_df.show()

print("Department DataFrame:")
department_df.show()

# Perform inner join
inner_join_df = employee_df.join(department_df, on="dept_id", how="inner")
print("Inner Join Result:")
inner_join_df.show()

Employee DataFrame:
+------+--------+-------+
|emp_id|emp_name|dept_id|
+------+--------+-------+
|     1|   Alice|   1001|
|     2|     Bob|   1002|
|     3| Charlie|   1001|
|     4|   David|   1003|
|     5|    Emma|   1003|
+------+--------+-------+

Department DataFrame:
+-------+-----------+
|dept_id|  dept_name|
+-------+-----------+
|   1001|Engineering|
|   1002|  Marketing|
|   1003|    Finance|
|   1004|         HR|
+-------+-----------+

Inner Join Result:
+-------+------+--------+-----------+
|dept_id|emp_id|emp_name|  dept_name|
+-------+------+--------+-----------+
|   1001|     1|   Alice|Engineering|
|   1001|     3| Charlie|Engineering|
|   1002|     2|     Bob|  Marketing|
|   1003|     4|   David|    Finance|
|   1003|     5|    Emma|    Finance|
+-------+------+--------+-----------+

In [0]:
employee_df.join(department_df,employee_df.dept_id == department_df.dept_id,"left").show()

+------+--------+-------+-------+-----------+
|emp_id|emp_name|dept_id|dept_id|  dept_name|
+------+--------+-------+-------+-----------+
|     1|   Alice|   1001|   1001|Engineering|
|     2|     Bob|   1002|   1002|  Marketing|
|     3| Charlie|   1001|   1001|Engineering|
|     4|   David|   1003|   1003|    Finance|
|     5|    Emma|   1003|   1003|    Finance|
+------+--------+-------+-------+-----------+

In [0]:
employee_df.join(department_df,employee_df.dept_id == department_df.dept_id,"outer").show()

+------+--------+-------+-------+-----------+
|emp_id|emp_name|dept_id|dept_id|  dept_name|
+------+--------+-------+-------+-----------+
|     1|   Alice|   1001|   1001|Engineering|
|     3| Charlie|   1001|   1001|Engineering|
|     2|     Bob|   1002|   1002|  Marketing|
|     4|   David|   1003|   1003|    Finance|
|     5|    Emma|   1003|   1003|    Finance|
|  null|    null|   null|   1004|         HR|
+------+--------+-------+-------+-----------+

In [0]:
data_0 = [("Manju","Student",21),
        ("Mohan","Police",35),
        ("Ajay","Judge",44)
]

data1 = [("deepak","lofer",33),
         ("Man","stadium gork",66)]

columns_n = ["Name","Job_title","Age"]

df_data = spark.createDataFrame(data_0,columns_n)

In [0]:
df_data_1 = spark.createDataFrame(data1,columns_n)

In [0]:
df_data_1.show()
df_data.show()

+------+------------+---+
|  Name|   Job_title|Age|
+------+------------+---+
|deepak|       lofer| 33|
|   Man|stadium gork| 66|
+------+------------+---+

+-----+---------+---+
| Name|Job_title|Age|
+-----+---------+---+
|Manju|  Student| 21|
|Mohan|   Police| 35|
| Ajay|    Judge| 44|
+-----+---------+---+

In [0]:
df_data.union(df_data_1).show()

+------+------------+---+
|  Name|   Job_title|Age|
+------+------------+---+
| Manju|     Student| 21|
| Mohan|      Police| 35|
|  Ajay|       Judge| 44|
|deepak|       lofer| 33|
|   Man|stadium gork| 66|
+------+------------+---+

In [0]:
# Sample employee data
data_employee = [
    ("1", "Alice", "Engineering", 100000),
    ("2", "Bob", "Marketing", 90000),
    ("3", "Charlie", "Finance", 110000)
]
columns_employee = ["emp_id", "emp_name", "department", "salary"]

# Sample department data
data_department = [
    ("1001", "Engineering", "San Francisco"),
    ("1002", "Marketing", "New York"),
    ("1003", "Finance", "Chicago")
]
columns_department = ["dept_id", "department", "location"]


df1 = spark.createDataFrame(data_employee,columns_employee)

df2 = spark.createDataFrame(data_department,columns_department)

In [0]:
df1.show()
df2.show()

+------+--------+-----------+------+
|emp_id|emp_name| department|salary|
+------+--------+-----------+------+
|     1|   Alice|Engineering|100000|
|     2|     Bob|  Marketing| 90000|
|     3| Charlie|    Finance|110000|
+------+--------+-----------+------+

+-------+-----------+-------------+
|dept_id| department|     location|
+-------+-----------+-------------+
|   1001|Engineering|San Francisco|
|   1002|  Marketing|     New York|
|   1003|    Finance|      Chicago|
+-------+-----------+-------------+

In [0]:
df1.join(df2,df1.department==df2.department,"inner").show()

+------+--------+-----------+------+-------+-----------+-------------+
|emp_id|emp_name| department|salary|dept_id| department|     location|
+------+--------+-----------+------+-------+-----------+-------------+
|     1|   Alice|Engineering|100000|   1001|Engineering|San Francisco|
|     3| Charlie|    Finance|110000|   1003|    Finance|      Chicago|
|     2|     Bob|  Marketing| 90000|   1002|  Marketing|     New York|
+------+--------+-----------+------+-------+-----------+-------------+

In [0]:
df1.join(df2,df1.department == df2.department,"outer").show()

+------+--------+-----------+------+-------+-----------+-------------+
|emp_id|emp_name| department|salary|dept_id| department|     location|
+------+--------+-----------+------+-------+-----------+-------------+
|     1|   Alice|Engineering|100000|   1001|Engineering|San Francisco|
|     3| Charlie|    Finance|110000|   1003|    Finance|      Chicago|
|     2|     Bob|  Marketing| 90000|   1002|  Marketing|     New York|
+------+--------+-----------+------+-------+-----------+-------------+